{% extends "base.html" %}
<script src="static/js/lib/jquery.js"></script>
{% block app_content %}
    <h1>{{ _('Megacorp Springfield MAS System') }}</h1>
    <h2>{{ _('CONFIGURE') }}</h2>
    <div id="sensors">
        <form method="POST" action="">
            <div class="form-group">
              {{ render_field(sensor.sensorID, class_="form-control", readonly) }}
            </div>
            <div class="form-group">
              {{ render_field(sensor.sensorName, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(sensor.sensorAlarmValue, class_="form-control") }}
              </div>
              <div class="form-group">
                {{ render_field(sensor.sensorClass, class_="form-control") }}
              </div>
            <p><input class="btn btn-primary" type="submit" value="Submit">
          </form>
    </div>>

    <script>
        $(document).ready(function(){
    $('#sensors').on('change', function() {
        let sensorID = $(this).val();

        fetch('/selected_Sensor/' + selectedSensor).then(function(data) {
            // this console.log is me testing to see what data returns
            //console.log(sensorID, data, data.room_id, data.room, data.rooms);
        });
    });
});
    </script>
{% endblock %}
