{% extends "base.html" %}

{% block app_content %}
<h2 class="sub-header">Sensor Overview</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th>Sensor ID</th>
                      <th>Sensor Name</th>
                      <th>Sensor Alarm Value</th>
                      <th>Sensor Class</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in sensors %}
                        <tr>
                            <td>{{ d.sensorID }}</td>   
                            <td>{{ d.sensorName }}</td>   
                            <td>{{ d.sensorAlarmValue }}</td>   
                            <td>{{ d.sensorClass }}</td>
                        </tr>
                    {% endfor %}
                <tbody>
            </table>
        </div>
{% endblock %}
